<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style th:replace="fragments/header :: header-css"></style>
<title th:text="Change Password"></title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div id="dialog_msg" title="message"></div>
	<div id="error"></div>
	<input type="submit"
		style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
	<div id="loading"></div>
	<div class="container">
		<div class="ui-widget">
			<br />
			<fieldset class="ui-widget-content ui-corner-all width500px">
				<legend id="legend" class="ui-widget-content ui-corner-all"
					th:text="Change Password"></legend>
				<form autocomplete="off" action="#" th:action="@{/changePassword}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<table id="search" class="width100per">
						<tr>
							<td class="padsubtitle1 width150px"
								th:text="User Name"></td>
							<td colspan="3"><input
								name="userName" id="userName" type="text"
								class="box2 ui-corner-all width250px" maxlength="60"
								style="background-color: gray; color: black" readOnly="readonly" />
<!--								<input th:field="*{id}" hidden="true" /></td>-->
						</tr>
						<tr>
							<td class="padsubtitle1 width150px"
								th:text="New Password"></td>
							<td colspan="3"><input name="newPassword" id="newPassword"
								type="password" class="box2 ui-corner-all width250px"
								maxlength="50" placeholder="Enter New Password" value=""
								autofocus /> <br /> <label
								th:if="${#fields.hasErrors('newPassword')}"></label></td>
						</tr>
						<tr>
							<td class="padsubtitle1 width150px"
								th:text="Confirm New Password"></td>
							<td colspan="3"><input name="conNewPassword"
								id="conNewPassword" type="password"
								class="box2 ui-corner-all width250px" maxlength="50"
								placeholder="Enter Confirm New Password" value="" /> <br /> 
								<!-- <span id='message'></span> -->
								<label
								th:if="${#fields.hasErrors('conNewPassword')}"
								class="error"></label>
								<label th:if="${validConfirmPassword != null}" th:text="${validConfirmPassword}" class="error"></label>
								</td>
						</tr>
						<tr>
							<td colspan="2" class="padsubtitle1" align="center"><input type="submit"
								class="button" value="Save" /> <a href="#" class="button cen"
								th:href="@{/changePasswordForm(id=${user.id})}" style="height: 25.6px;"
								th:text="Clear"></a> <a href="#" class="button" style="height: 25.6px;"
								onclick="onBack();" th:text="Back"></a></td>
						</tr>
					</table>
				</form>
			</fieldset>
		</div>
	</div>
	<input name="popUp" id="popUp" type="hidden" th:value="${result}" />
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
		$("document").ready(function() {
			highlight($('#menu_admin'));
			responData();
		});
		function responData() {
			var popUp = $('#popUp').val();
			if (popUp == 'true') {
				dialog_successful__return_action(
						"[[#{user.changePassword.success}]]",
						"[[#{dialog.complete.title}]]");
			}
			if (popUp == 'false') {
				errorMsg("[[#{msg_unexpected_error}]]");
			}
		}
		function completeAction() {
			onBack();
		}
		$(".button").button();
		function onBack() {
			location.href = "/management/list-user?stayPage=true";
		}
	</script>
</body>
</html>
