<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="Home"></title>
<style th:replace="fragments/header :: header-css"></style>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="ui-widget centered width400px">
			<div class="ui-widget-content ui-corner-all pad1">
				<table class="width100per" border="0" >
					<tr>
						<td class="title" colspan="2" align="center" th:text="Home"></td>
					</tr>
					<tr>
						<td class="padsubtitle" th:text="UserName"></td>
						<td th:text="${user.userName}"></td>
					</tr>
					<tr>
						<td class="padsubtitle" th:text="currentDate"></td>
						<td th:text="${currentDate}"></td>
					</tr>
					<tr>
						<td class="padsubtitle" th:text="lastLogin"></td>
						<td th:text="${user.lastLogin}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
