<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<style th:replace="fragments/header :: header-css"></style>
        <title th:text="EditUser" ></title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	 <div id="loading"></div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> 
    <div id="dialog_msg" title="message"></div>
    <div id="error"></div>
    <div class="container">
        <div class="ui-widget"><br/>
            <fieldset class="ui-widget-content ui-corner-all width450px">
                <legend id="legend" class="ui-widget-content ui-corner-all"th:text="EditUser"></legend>
                 <form autocomplete="off" action="#" th:action="@{/edit}" th:object="${user}" method="post" class="form-horizontal" role="form">
	                <table id="search" border="0" cellpadding="0" cellspacing="0" class="width100per">
	                    <tr>
	                        <td class="padsubtitle1 width100px" th:text="UserName"></td>
	                        <td colspan="3">
	                            <input th:field="*{userName}" style="background-color: gray; color:black" readonly="readonly" name="userName" id="userName" type="text" class="box2 ui-corner-all width250px" maxlength="50" value="" />
	                            </br>
	                            <label th:if="${#fields.hasErrors('userName')}" class="error"></label>
								<input  th:field="*{id}" hidden="true"/>
								<input  th:field="*{password}" hidden="true"/>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="padsubtitle1 width100px" th:text="FullName"></td>
	                        <td colspan="3">
	                            <input name="fullName" id="fullName" type="text" class="box2 ui-corner-all width250px" maxlength="50" value="" autofocus/>
	                        	</br>
	                        	<label th:if="${#fields.hasErrors('fullName')}" class="error"></label>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="padsubtitle1 width100px" th:text="Email"></td>
	                        <td colspan="3">
	                            <input name="email" id="email" type="text" class="box2 ui-corner-all width250px" maxlength="50" value=""/>
	                        	</br>
	                        	<label th:if="${#fields.hasErrors('email')}" class="error"></label>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td colspan="2" class="padsubtitle1" align="center">
	                            <input type="submit" class="button" value="Save"/>
	                            <a href="#" class="button" style="height: 25.6px;" th:href="@{/editForm(id=${user.id})}" th:text="Clear"></a>
	                            <a href="#" class="button" style="height: 25.6px;" onclick="onBack();" th:text="Back"></a>
	                        </td>
	                    </tr>
	                </table>
                </form>
            </fieldset>                
            <br/><br/>
                <!-- End Data List -->
        </div> 
    </div>
    <input name="popUp" id="popUp" type="hidden" th:value="${result}"/>
    <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript">
		    $("document").ready(function () {
				highlight($('#menu_admin'));	
				responData();
			}); 
			function responData(){
				var popUp = $('#popUp').val();
				if(popUp == 'true'){
					dialog_inform_return_action("update user success", "update user");
				}
				if(popUp == 'false'){
					errorMsg("[[#{msg_unexpected_error}]]");  
				} 
			}
			function completeAction(){
					onBack();
		     }
	    	 $(".button").button();
	    function  onBack(){
	    	location.href = "/management/list-user?stayPage=true";
	    }
    </script>
</body>
</html>
