<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style th:replace="fragments/header :: header-css"></style>
    <title th:text="UserManagement"></title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div id="dialog_msg" title="message"></div>
<div id="error"></div>
<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
<div id="loading"></div>
<div class="container">
    <div class="ui-widget"><br/>
        <fieldset class="ui-widget-content ui-corner-all width450px">
            <legend id="legend" class="ui-widget-content ui-corner-all" th:text="Search"></legend>
            <form autocomplete="off" action="#" method="post" class="form-horizontal" role="form">
                <table id="search" class="width100per">
                    <tr>
                        <td class="padsubtitle1 width100px" th:text="Search"></td>
                        <td colspan="3">
                            <input autofocus name="searchName" id="searchName" type="text"
                                   class="box2 ui-corner-all width250px" maxlength="60"/>
                        </td>
                    </tr>
<!--                    <tr>-->
<!--                        <td class="padsubtitle1 width100px" th:text="UserName"></td>-->
<!--                        <td colspan="3">-->
<!--                            <input autofocus name="userName" id="userName" type="text"-->
<!--                                   class="box2 ui-corner-all width250px" maxlength="60"/>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="padsubtitle1 width100px" th:text="FullName"></td>-->
<!--                        <td colspan="3">-->
<!--                            <input name="firstName" id="firstName" type="text" class="box2 ui-corner-all width250px"-->
<!--                                   maxlength="60"/>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="padsubtitle1 width100px" th:text="Email"></td>-->
<!--                        <td colspan="3">-->
<!--                            <input name="email" id="email" type="text" class="box2 ui-corner-all width250px"-->
<!--                                   maxlength="60"/>-->
<!--                        </td>-->
<!--                    </tr>-->
                    <tr>
                        <td colspan="2" class="padsubtitle1" align="center">
                            <a href="#" class="button cen" onclick="onSearch();" th:text="Search"></a>
                            <input class="button cen" style="height: 25.6px;" type="reset" th:value="Clear"/>
                            <a href="#" th:onclick="|onAdd('@{/add}')|" class="button cen" th:text="Add"></a>
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <br/><br/>
        <div class="data_list" th:fragment="result-table" id="result-table">
            <form action="">
                <input type="hidden" name="stayPage" id="stayPage" th:value="${stayPage}"/>
            </form>
            <fieldset class="ui-widget-content ui-corner-all">
                <legend class="ui-widget-content ui-corner-all" th:text="Result"></legend>
                <br/>
                <div class="scrollTable">
                    <table class="padtable width100per">
                        <thead class="ui-widget-header">
                        <tr class="content-nowrap">
                            <td th:text="FullName"></td>
                            <td th:text="UserName"></td>
                            <td th:text="Email"></td>
                            <td th:text="LastLogin"></td>
                            <td colspan="3" th:text="Action"></td>
                        </tr>
                        </thead>
                        <th:block th:if="${#lists.isEmpty(users)}">
                            <tbody class="cen">
                            <tr>
                                <td colspan="9" th:text="ListEmpty"></td>
                            </tr>
                            </tbody>
                        </th:block>
                        <th:block th:each="user,status : ${users}">
                            <tbody class="cen">
                            <tr th:class="${status.index % 2 == 0 ? 'content_tb1 color2': 'content_tb1 color1'}">
                                <td class="left content-nowrap"
                                    th:text="${(user.fullName)}"></td>
                                <td class="left content-nowrap" th:text="${user.userName}"></td>
                                <td class="left content-nowrap" th:text="${user.email}"></td>
                                <td class="left content-nowrap" th:text="${user.lastLogin}"></td>
                                <td class="cen content-nowrap">
                                    <!-- <th:block th:if="${user.id == currentUserId}"> -->
                                    <a th:href="@{/changePasswordForm(id=${user.id})}" style="height: 25.6px;"
                                       title="Change" class="button cen" th:text="Changepassword"></a>
                                    <!-- </th:block> -->
                                </td>
                                <td class="cen content-nowrap">
                                    <a href="" th:href="@{/editForm(id=${user.id})}" title="Update" class="button cen"
                                       th:text="Edit"></a>
                                </td>
                                <th:block th:if="${user.id != currentUserId}">
                                    <td class="cen content-nowrap">
                                        <a th:attr="data-name=${user.userName}"
                                           th:onclick="|deleteUser('@{/deleteUser(userId=${user.id})}',this.getAttribute('data-name')); return false;|"
                                           title="Update" class="button cen" th:text="Delete"></a>
                                    </td>
                                </th:block>
                                <th:block th:if="${user.id == currentUserId}">
                                    <td class="cen Disabled">
                                        <a href="#" class="button cen" th:text="Delete"></a>
                                    </td>
                                </th:block>
                                <th:block th:if="${user.id eq currentUserId}">
                                    <td class="cen content-nowrap">&nbsp;</td>
                                </th:block>
                            </tr>
                            </tbody>
                        </th:block>
                    </table>
                    <th:block th:if="${not #lists.isEmpty(users)}">
                        <div th:replace="fragments/pagination ::  'paginationbarAjax'"></div>
                    </th:block>
                </div>
                <br/>
            </fieldset>
            <br/><br/>
        </div>
        <!-- End Data List -->
    </div>
</div>
<th:block th:if="${session.sessionSearchModel != null}">
    <form id="actionForm" action="#" method="post">
        <input type="hidden" id="act" name="act" value=""/>
        <input type="hidden" name="search" id="oldSearch" th:value="${session.sessionSearchModel.search}"/>
    </form>
</th:block>
<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/search.js}"></script>
<script type="text/javascript">
    function onAdd(url) {
        window.location.href = url;
    }

    function getActUrlForDoSearch(act) {
        return "/management/search" + act;
    }

    function pagingation(pageurl) {
        doSearch(pageurl);
    };

    function setOldToNew() {
        highlight($('#menu_admin'));
        doSearch('');
        $('#userName').val($('#oldUsername').val());
        $('#fullName').val($('#oldFullName').val());
        $('#email').val($('#oldEmail').val());
    }

    function deleteUser(url, username) {
        //dialog_confirm_request('Delete','Are you sure want to delete the user: '+username+' ?',url);
        dialog_confirm_request("[[#{dialog.delete.title}]]", "[[#{user.delete.confirm.msg}]]" + username + ' ?', url);
    }

    function request(url) {
        $('#loading').show();
        $.ajax({
            url: url,
            method: 'GET',
            contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
            error: function (jqXHR) {
                $('#loading').hide();
                if (jqXHR.status == 403) {
                    window.location.href = 'login';
                } else {
                    errorMsg("[[#{msg_unexpected_error}]]");
                }
            },
            success: function (data, textStatus, jqXHR) {
                $('#loading').hide();
                //dialog_successful__return_action('Admin user is deleted successfully');
                dialog_inform_return_action("[[#{user.delete.success}]]", "[[#{dialog.complete.title}]]");
            }
        })
    }

    function completeAction() {
        onSearch();
    }
</script>
</body>
</html>
