<th:block th:fragment="footer">
    <script th:src="@{/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.4.custom.js}"></script>
    <script th:src="@{/js/slidemenu/jqueryslidemenu.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/jquery.placeholder.js}"></script>
	<footer>
		<div class="footer">Trong Thang Version <th:block th:text="${buildVersion}"></th:block> Build on <th:block th:text="${buildTimestamp}"></th:block> Copyright(C) 2022 Co., Ltd. All Right Reserved.</div>
	</footer>
</th:block>
