<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/favicon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylecss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jqueryslidemenu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.4.custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/slidemenu/jqueryslidemenu.css}"/>
</head>
<body>
    <th:block th:fragment="header">
        <th:block th:replace="fragments/logo :: header-logo"></th:block>
        <th:block th:replace="fragments/menu :: header-menu"></th:block>
<!--         <th:block th:replace="fragments/message :: header-message"></th:block> -->
    </th:block>
</html>