<th:block th:fragment="header-logo">
    <div id="logo" class="logo">
        <a th:href="@{/admin/home}">
            <img th:src="@{/images/logo.jpg}" name="logo" border="0"/>
        </a>
    </div>
    <br>
    <br class="clear" />
</th:block>
