<th:block  th:fragment="header-menu">
    <div id="myslidemenu" class="jqueryslidemenu" width="100%" >
        <ul>
            <li><a th:href="@{/list-user}" style="height:16px;" class="width150px" id="menu_admin" th:text="UserManagement"></a>
            </li>
            </li>
            <li style="float:right;"><a th:href="@{/logout}" style="height:16px;" class="width100px" th:text="Logout"></a></li>
        </ul>
        <br style="clear: left" />
    </div>
</th:block>
