<div th:fragment="paginationbarAjax">
	<div id="paging" class="paging" align="center">
	<table border="0" cellpadding="0" cellspacing="0">
	    <tr>
	        <td width="12" height="20">
	        	<img th:if="${page.firstPage}" th:src="@{/images/bt_pv.gif}" style="border-style: none"/>
	        	<a th:if="${not page.firstPage}" href="#" th:onclick="|pagingation('&page=0&size=${page.size}')|">
	        		<img th:src="@{/images/bt_pv_f2.gif}" style="border-style: none"/>
	        	</a>
	       	</td>
	       	<td width="12" height="20">
				<img th:if="${not page.hasPreviousPage}"th:src="@{/images/bt_back.gif}" style="border-style: none"/>
				<a th:if="${page.hasPreviousPage}" href="#" th:onclick="|pagingation('&page=${page.number-2}&size=${page.size}')|">
					<img th:src="@{/images/bt_back_f2.gif}" style="border-style: none"/>
				</a>
			</td>
	       	<td th:each="item : ${page.items}" class="bg_tb01" width="12" height="20">
				<span class="page" th:if="${item.current}">
					<font color="#CC9900;" th:text="${item.number<10? '0'+item.number : item.number}">1</font>
				</span>
				<a class="page" th:if="${not item.current}" href="#" th:onclick="|pagingation('&page=${item.number-1}&size=${page.size}')|" th:text="${item.number<10? '0'+item.number : item.number}">1</a>
			</td>
			<td width="12" height="20">
				<img th:if="${not page.hasNextPage}" th:src="@{/images/bt_next.gif}" style="border-style: none"/>
				<a class="page" th:if="${page.hasNextPage}" href="#" th:onclick="|pagingation('&page=${page.number}&size=${page.size}')|">
					<img th:src="@{/images/bt_next_f2.gif}" style="border-style: none"/>
				</a>
			</td>
			<td width="12" height="20" th:class="${page.lastPage}? 'disabled' : ''">
				<img th:if="${not page.hasNextPage}" th:src="@{/images/bt_last.gif}" style="border-style: none"/>
				<a class="page" th:if="${not page.lastPage}" href="#" th:onclick="|pagingation('&page=${page.totalPages-1}&size=${page.size})')|">
					<img th:src="@{/images/bt_last_f2.gif}" style="border-style: none"/>
				</a>
			</td>
    	</tr>
    </table>
	</div>
</div>