footer {
	margin-top: 60px;
	text-align: center;
	background-color: #e4e3e3;
}

.form-control-short {
	width: 70%;
	float: right;
}

.btn-appprofile {
 width: 150px;
 text-align: center;
}
.center-parent {
 text-align: center;
}

.left-parent {
 text-align: left;
}
.rigth-parent {
 text-align: right;
}
.List-table {
 margin-top: 40px;
}