body, td, th {
	font-family: tahoma;
	font-size: 12px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a {
	display: inline-block;
	text-decoration: none;
}

.navyblue {
	font-size: 11px;
	color: #000080;
	text-decoration: none;
	font-weight: bold;
}

a.navyblue:link {
	font-size: 11px;
	color: #000080;
	text-decoration: none;
	font-weight: bold;
}

a.navyblue:visited {
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	font-weight: bold;
}

a.navyblue:hover {
	font-size: 11px;
	color: #9900FF;
	text-decoration: none;
	font-weight: bold;
}

a.navyblue:active {
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	font-weight: bold;
}

.clear {
	clear: both;
}
/*
.logo{
    height: 50px;  
}
*/
.logo {
	float: left;
	height: 80px;
}

#logo img {
	height: 60px;
	padding: 10px;
}

.lang {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.error {
	color: red;
}

.menu, .menu-main>ul {
	/*http://jsfiddle.net/DebVr/8/*/
	/*padding: 5px;*/
	height: 32px;
	background-color: #0066b3;
	/*background-color: #3E296E;*/
	font-weight: bold;
	display: inline-table;
	white-space: nowrap;
	width: 100%;
}

.menu-main ul {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}

.menu-main>ul>li>a {
	float: left;
	border: none;
	color: #006B17;
	display: inline-block;
	padding: 0.4em 1.5em;
	line-height: 2;
	cursor: pointer;
	text-align: center;
	text-decoration: none !important;
}

.menu-main>ul>li>a:hover, #menu-main>ul>li>a:active, .menu-main>ul>li>a:focus,
	.menu-main>ul>li:hover>a {
	background: #006B17;
	border: none;
	color: #e17009;
	line-height: 2
}

.menu-main>ul>li>ul>li {
	background: #006B17;
	border: 1px solid #a6c9e2; /*border: 2px solid white;*/
	border-top: none;
	left: 0;
	top: 96px;
	position: absolute;
	width: 100%;
	height: 32px;
}

.menu-main>ul>li>ul>li .dropdown-links {
	float: left;
	white-space: nowrap;
	display: block;
	height: 32px;
}

.menu-main>ul>li>ul>li .dropdown-links a {
	/*color: #e17009;*/
	color: #006B17;
	display: inline-block;
	margin: 10px;
	text-decoration: none !important;
	/*line-height: 1.5;*/
	/*padding: 0.2em 0.4em;*/
	text-decoration: none;
}

.menu-main>ul>li>ul>li .dropdown-links a:hover {
	/*color: #FDB97B;*/
	color: #FDB97B;
}

.menu-main>ul>li:hover>ul>li {
	display: block;
}

.menu-main>ul>li>ul>li {
	display: none;
}

.dropdown-container {
	color: white;
	overflow: hidden;
	/*padding: 10px;*/
	height: 32px;
}

.hover {
	color: #006B17 !important;
}

.main-submenu {
	left: 135px !important;
}

.submenu {
	padding: 0 10px 10px 10px;
}

.container {
	margin: 10px;
}

.footer {
	padding: 0.4em 1em;
	text-align: center;
	font-weight: bold;
	bottom: 0px;
	position: fixed !important;
	width: 100%;
	background-color: #0066b3; /*#0066b3;*/
	color: #dfeffc;
}

.centered {
	/*http://bluerobot.com/web/css/center1.html*/
	margin: 0 auto;
	padding: 0;
	padding-top: 50px;
}

.cen {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.color1 {
	background-color: #fbfbfb;
}

.color2 {
	background-color: #e9e0fc;
}

.pad1 {
	padding: 0 .7em;
}

.pad_buttom {
	padding-bottom: 5px;
}

.padtable {
	background-color: #fbfbfb;
	border-bottom: #006B17 1px solid;
	border-left: #006B17 1px solid;
	border-right: #006B17 1px solid;
	border-top: #006B17 1px solid;
}

.padtableDisallowedCardType {
	background-color: #fbfbfb;
	border-bottom: #fbfbfb 1px solid;
	border-left: #fbfbfb 110px solid;
	border-right: #fbfbfb 1px solid;
	border-top: #fbfbfb 1px solid;
}

thead>tr {
	height: 24px;
	text-align: center;
	color: #000000;
	font-weight: bold;
}

tbody>tr {
	height: 24px;
}

/*
fieldset, legend {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow:0 0 3px #4297d7;
    border: 1px solid #c5dbec;
    color: #2e6e9e;
    text-decoration: none;    
}

fieldset {padding: 10px;}
legend {padding: 4px 8px; font-weight: bold;background:#fff;}
*/
legend {
	padding: 4px 8px;
	font-weight: bold;
}

.title {
	padding: 20px 20px 20px 25px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
}

.padsubtitle {
	padding: 15px 0px 15px 15px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
}

.padsubtitle1 {
	padding: 12px 0px 12px 15px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
	vertical-align: top;
}

.padright5px {
	padding-right: 5px;
}

.content_tb1 {
	vertical-align: top;
	font-weight: normal;
	color: #222222;
	text-decoration: none;
}

.content_pad1 {
	overflow: hidden;
	white-space: nowrap;
	padding: 2px 2px 5px 5px;
}

.content_pad2 {
	padding: 2px 10px;
}

.box2 {
	font-family: tahoma;
	font-size: 12px;
	background-color: #ffffff;
	border-bottom: #006B17 1px solid;
	border-left: #006B17 1px solid;
	border-right: #006B17 1px solid;
	border-top: #006B17 1px solid;
	padding: 3px 3px 3px 3px;
	color: #666666;
}

.required {
	position: absolute;
	margin-left: 5px;
	color: #FB0000;
	font-size: 15px;
}

.width20px {
	width: 20px;
}

.width50px {
	width: 50px;
}

.width60px {
	width: 60px;
}

.width75px {
	width: 75px;
}

.width100px {
	width: 100px;
}

.width110px {
	width: 110px;
}

.width120px {
	width: 120px;
}

.width122px {
	width: 122px;
}

.width150px {
	width: 150px;
}

.width190px {
	width: 190px;
}

.width200px {
	width: 200px;
}

.width250px {
	width: 250px;
}

.width300px {
	width: 300px;
}

.width400px {
	width: 400px;
}

.width415px {
	width: 415px;
}

.width430px {
	width: 430px;
}

.width450px {
	width: 450px;
}

.width500px {
	width: 500px;
}

.width530px {
	width: 530px;
}

.width600px {
	width: 600px;
}

.width650px {
	width: 650px;
}

.width700px {
	width: 700px;
}

.width750px {
	width: 750px;
}

.width800px {
	width: 800px;
}

.width850px {
	width: 850px;
}

.width70per {
	width: 70%;
}

.width80per {
	width: 80%;
}

.width90per {
	width: 90%;
}

.width100per {
	width: 100%;
}

/*min-width*/
.min-width50px {
	min-width: 50px;
}

.min-width100px {
	min-width: 100px;
}

.min-width120px {
	min-width: 120px;
}

.min-width150px {
	min-width: 150px;
}

.min-width200px {
	min-width: 200px;
}

.min-width250px {
	min-width: 250px;
}

.min-width300px {
	min-width: 300px;
}

.min-width400px {
	min-width: 400px;
}

.min-width450px {
	min-width: 450px;
}

.min-width500px {
	min-width: 500px;
}

.min-width600px {
	min-width: 600px;
}

.min-width650px {
	min-width: 650px;
}

.min-width700px {
	min-width: 700px;
}

.min-width750px {
	min-width: 750px;
}

.min-width70per {
	min-width: 70%;
}

.min-width80per {
	min-width: 80%;
}

.min-width90per {
	min-width: 90%;
}

.min-width100per {
	min-width: 100%;
}

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
	opacity: 0.4;
	background-color: #000;
	background-position: 50% 50%;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	z-index: 100;
	display: none;
}

/* CSS Paging*/
.paging {
	padding-top: 10px;
}

.page {
	font-size: 8px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
}

a.page:link {
	font-size: 8px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}

a.page:visited {
	font-size: 8px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
}

a.page:hover {
	font-size: 8px;
	color: #CC9900;
	text-decoration: none;
	font-weight: normal;
}

a.page:active {
	font-size: 8px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.bg_tb01 {
	background-image: url(../images/bt_page.gif);
	background-repeat: no-repeat;
	padding: 0px 2px 2px 4px;
}
/* end CSS Paging*/
.ui-icon-pencil {
	background-position: -64px -112px !important;
}

.ui-icon-trash {
	background-position: -176px -96px !important;
}

.ui-icon-locked {
	background-position: -192px -96px !important;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px !important;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px !important;
}

.ui-icon-search {
	background-position: -160px -112px !important;
}

.placeholder {
	color: #aaa;
}

.scrollTable {
	/*height: 200px;
    width: screen.width;*/
	overflow: auto;
}

a.lnkDownload {
	color: #4F86FA;
	font-weight: bold;
	text-decoration: underline;
}

.text-box-edit-right {
	/*width: 450px !important;*/
	text-align: right !important;
}

.text-box-edit-left {
	/*width: 450px !important;*/
	text-align: left !important;
}

.contactus_box {
	border: 1px;
	border-color: #000;
	border-style: solid;
	padding: 5px;
}

.div-button-oper {
	width: 100%;
	white-space: nowrap;
	text-align: right;
}

.width50percen {
	width: 50%;
}

.line-bottom {
	border-bottom: #CBD9E4 1.5px solid
}

.padsubcontent {
	padding: 12px 0px 12px 15px;
	color: #222222;
	text-decoration: none;
	vertical-align: top;
}

.padsubcontent1 {
	padding: 12px 0px;
	color: #222222;
	text-decoration: none;
	vertical-align: top;
}

.img-show-report {
	width: 80px;
	height: 80px;
}

.img-show-report-rect {
	width: 225px;
	height: 100px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.selectBox {
	overflow: hidden !important;
	width: 200px !important;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.font-note {
	color: #2e6e9e;
}

.ul-in-table {
	margin-top: 0px;
	margin-bottom: 0px;
}

.content-nowrap {
	white-space: nowrap;
}

.option255px {
	width: 255px;
}

.option160px {
	width: 160px;
}

.option308px {
	width: 308px;
}

.content-valign-top {
	vertical-align: top;
}

.file-link {
	color: #4F86FA;
	text-decoration: underline;
}

.wrap-text {
	word-wrap: break-word;
	white-space: normal;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.button {
	padding: 6px 12px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-left: 1.5px;
}

#customerstat_chartdiv {
	width: 100%;
	/*
  //width: 800px;
  */
	height: 500px;
}

#transfertypestat_chartdiv {
	width: 100%;
	/*
  //width: 900px;
  */
	height: 500px;
}

h4 {
	display: block;
	text-align: center;
	padding: 15px 0 0 0;
	color: #222222;
	line-height: 20px;
}

.Disabled {
	pointer-events: none;
	opacity: 0.65;
}

.transactionDate {
	padding-right: 37px;
	padding-left: 37px;
}

.sales_amount {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 100px;
}

.sales_amount .bold {
	font-weight: bold;
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 100px;
}

.purchasing-item {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 100px;
}

.purchasing-item .bold {
	font-weight: bold;
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 100px;
}

.btnLogin {
	padding: 12px 0px 12px 10px;
	font-weight: bold;
	color: #222222;
	text-decoration: none;
	vertical-align: top;
}

.padl {
	padding-left: 4.5px;
}

/*the container must be positioned relative:*/
.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}