<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Error"></title>
    <style th:replace="fragments/header :: header-css"></style>
</head>
<body>
    <th:block th:replace="fragments/logo :: header-logo"></th:block>
    <div class="container">
        <div class="row" style="margin-top: 100px">
            <p th:if="${url}">
            	<b>Page:</b> <span th:text="${url}">Page URL</span>
            </p>
            <p th:if="${timestamp}" id="created">
            	<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </p>
            <p th:if="${status}">
            	<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            		th:if="${error}" th:text="'('+${error}+')'">error ...</span>
            </p>
            <div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
            	<b>Cause:</b> <span th:if="${ex}" th:text="${ex}">exception ...</span>
            	<span th:if="${exception}" th:text="${exception}">exception ...</span>
            	<span th:if="${message} and ${message.length() != 0}" th:text="${message}">message ...</span>
            </div>
            <p th:if="${errorResponse}">
            	<b>Message: </b>
            	<span th:text="${'[' + errorResponse.code + '] ' + errorResponse.message}">message ...</span>
            </p>
            <p th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">Cause unknown (no exception details available)</p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
