<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="Login"></title>
	<style th:replace="fragments/header :: header-css"></style>
</head>
<body>
<form th:action="@{/login}" method="post">
	<input type="submit"
		   style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
	<div class="container">
		<div class="ui-widget centered width400px">
			<div id="error"></div>
			<div class="ui-widget-content ui-corner-all pad1">
				<table border="0" cellpadding="0" cellspacing="0"
					   style="width: 100%">
					<tr>
						<td class="title" colspan="2" align="center"
							th:text="UserLogin"></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<div th:if="${param.error}">
								<div class="alert alert-danger" th:text="LoginError"></div>
							</div>
							<div th:if="${param.logout}">
								<div class="alert alert-info" th:text="LogoutSuccess"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="padsubtitle" th:text="UserName" for="username">
							<!--fmt:message key='login.username'/--> &nbsp;
						</td>
						<td><input tabindex="1" type="text" name="username"
								   id="username" class="box2 ui-corner-all" size="30"
								   maxlength="20" autofocus="true" /></td>
					</tr>
					<tr>
						<td th:text="Password" for="password" class="padsubtitle">
							<!--fmt:message key='login.password'/-->
						</td>
						<td><input tabindex="2" type="password" name="password"
								   id="password" class="box2 ui-corner-all" size="30"
								   maxlength="20" /></td>
					</tr>
					<tr>
						<td class="padsubtitle1 cen" colspan="2"><input tabindex="3"
																		type="submit" style="height: 28px;" class="button" th:value="Login" /> <a
								href="#" class="button" style="height: 25.6px;" onclick="clearInput();"
								th:text="Clear"></a><br />
							<br /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</form>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
	$(".button").button();
	setUiIconRow();
	$('a.ui-icon.ui-icon-trash').click(function (e) {
		e.preventDefault();
	});
	adjustDivResultWidth();

	function clearInput() {
		onClear();
	}

	function onClear() {
		// 	    	    $("form").trigger('reset');
		window.location.href = '/management/login';
	}
</script>
</body>
</html>
