<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="Logout"></title>
        <style th:replace="fragments/header :: header-css"></style>
    </head>
    <body>
        <div class="container">
            <div class="ui-widget centered width400px">
                <div id="error"></div>
                <div class="ui-widget-content ui-corner-all pad1">
                    <table border="0" cellpadding="0" cellspacing="0" class="width100per">
                        <tr>
                            <td class="title cen" th:text="LogoutSuccess"></td>
                        </tr>
                        <tr>
                            <td class="cen"  th:text="LogoutSuccess"></td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td class="cen btnLogin">
                                <a th:href="@{/login}" style="height: 25.6px;" class="button" th:text="Login"></a>
                                <br /><br />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
<!--        <script type="text/javascript">-->
<!--	        $(".button").button();-->
<!--	        setUiIconRow();-->
<!--	        $('a.ui-icon.ui-icon-trash').click(function(e){-->
<!--	            e.preventDefault();-->
<!--	        });-->
<!--	        adjustDivResultWidth();-->
<!--        </script>-->
    </body>
</html>
